################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/SourceCode/VCProject2010/.vs/MyGame/v15
/Bin/Game.pdb
/Bin/Game.exe
/Bin/console.log
/SourceCode/VCProject2010/VCProject2010/Release
/SourceCode/VCProject2010/VCProject2010/Debug
/Bin/Game.ilk
/SourceCode/Bin
/SourceCode/Bin
*.cso
